.header {
  background-color: lightpink;
  color: gray;
  text-align: center;
  padding: 20px;
  margin-bottom: 0; 
}
.navbar {
  background-color: mediumpurple;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 0; 
}
.navbar li {
  list-style: none;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  display: block;
}
.navbar ul {
  display: none;
  position: absolute;
  background-color: mediumpurple;
}
.navbar li:hover > ul {
  display: block;
}
.navbar ul {
  display: none;
  position: absolute;
  background-color: mediumpurple;
  line-height: 2; 
  text-align: left;
}
.navbar li:hover > ul {
  display: block;
}
body {
  color: #333;
  background-color: lightgray;
  font-family: Arial, sans-serif;
}
@media all {
  body {
    font-size: 16px;
  }
}
@media print {
  body {
    font-size: 12px;
  }
}